
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div> 
    <input [(ngModel)]="username">
    <p>{{username}}</p>
    <button [disabled]="username === '' ? true : false" (click)="onClickUsername()">Username Reset</button>
  </div>
</main>
<app-warning-alert></app-warning-alert>  
<app-success-alert></app-success-alert> 

<button (click)="onDisplayDetails()">Display Details</button>
<p *ngIf="displayPara">Secret password = 'tuna'</p>
<div 
  *ngFor="let logItem of buttonClickLogs"
  [ngStyle]="{backgroundColor: (logItem >= 5 ? 'blue' : 'transparent')}"
  >
  {{logItem}}
</div>


<div>
  <div class="row">
    <div class="col-md-6">
      <h2>I am working</h2>
    </div>
    <div class="col-md-6">
      <h2>test</h2>

    </div>
  </div>
</div>




<router-outlet />
